
<section class="hero">
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quidem quos expedita non. Consequuntur et similique beatae sapiente accusamus magni minus voluptas quas reprehenderit neque repellat animi, voluptate sunt doloremque voluptatem aliquam temporibus, nobis aliquid incidunt quaerat aut labore, nam totam pariatur. Commodi eum ad, optio nihil deserunt enim iure facilis dicta totam adipisci reprehenderit ratione architecto qui nam voluptates obcaecati minima? Sequi maiores eligendi optio repellat?</h1>
</section>